.lock-screen-back {
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 0 0 0 #667aa6 inset;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 3s;
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;

    .center {
        text-align: center;
    }

    .unlock-con {
        width: 0px;
        height: 0px;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 11000;
    }

    .sidebar-menu-con {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 21;
        transition: width .3s;
        background: rgb(73, 80, 96)
    }

    .layout-text {
        display: inline-block;
        white-space: nowrap;
        position: absolute;
    }

    .main-hide-text .layout-text {
        display: none;
    }

    &-content-container {
        position: relative;
    }

    &-header-con {
        box-sizing: border-box;
        position: fixed;
        display: block;
        padding-left: 200px;
        width: 100%;
        height: 100px;
        z-index: 20;
        box-shadow: 0 2px 1px 1px rgba(100, 100, 100, .1);
        transition: padding .3s;
    }

    &-breadcrumb {
        padding: 8px 15px 0;
    }

    &-menu-left {
        background: #464c5b;
        height: 100%;
    }

    .tags-con {
        height: 40px;
        z-index: -1;
        overflow: hidden;
        background: #f0f0f0;

        .tags-outer-scroll-con {
            position: relative;
            box-sizing: border-box;
            padding-right: 120px;
            width: 100%;
            height: 100%;

            .tags-inner-scroll-body {
                position: absolute;
                padding: 2px 10px;
                overflow: visible;
                white-space: nowrap;
                transition: left .3s ease;
            }

            .close-all-tag-con {
                position: absolute;
                right: 0;
                top: 0;
                box-sizing: border-box;
                padding-top: 8px;
                text-align: center;
                width: 110px;
                height: 100%;
                background: white;
                box-shadow: -3px 0 15px 3px rgba(0, 0, 0, .1);
                z-index: 10;
            }
        }
    }

    &-header {
        height: 60px;
        background: #fff;
        box-shadow: 0 2px 1px 1px rgba(100, 100, 100, .1);
        position: relative;
        z-index: 11;

        .navicon-con {
            margin: 6px;
            display: inline-block;
        }

        .header-middle-con {
            position: absolute;
            left: 60px;
            top: 0;
            right: 340px;
            bottom: 0;
            padding: 10px;
            overflow: hidden;
        }

        .header-avator-con {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 300px;

            .switch-theme-con {
                display: inline-block;
                width: 40px;
                height: 100%;
            }

            .message-con {
                display: inline-block;
                width: 30px;
                padding: 18px 0;
                text-align: center;
                cursor: pointer;

                i {
                    vertical-align: middle;
                }
            }

            .change-skin {
                font-size: 14px;
                font-weight: 500;
                padding-right: 5px;
            }

            .switch-theme {
                height: 100%;
            }

            .user-dropdown {
                &-menu-con {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 150px;
                    height: 100%;

                    .main-user-name {
                        display: inline-block;
                        width: 80px;
                        word-break: keep-all;
                        white-space: nowrap;
                        vertical-align: middle;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-align: right;
                    }
                }

                &-innercon {
                    height: 100%;
                    padding-right: 14px;
                }
            }

            .full-screen-btn-con {
                display: inline-block;
                width: 30px;
                padding: 18px 0;
                text-align: center;
                cursor: pointer;

                i {
                    vertical-align: middle;
                }
            }

            .lock-screen-btn-con {
                display: inline-block;
                width: 30px;
                padding: 18px 0;
                text-align: center;
                cursor: pointer;

                i {
                    vertical-align: middle;
                }
            }
        }
    }

    .single-page {
        height: calc(100% - 20px);
    }

    .single-page-con {
        position: absolute;
        top: 100px;
        right: 0;
        bottom: 0;
        overflow: auto;
        background-color: #F0F0F0;
        z-index: 1;
        transition: left .3s;

        .single-page {
            margin: 10px;
        }
    }

    &-copy {
        text-align: center;
        padding: 10px 0 20px;
        color: #9ea7b4;
    }

    .ivu-menu {
        .ivu-menu-item {
            padding: 8px 24px;
        }
    }
}

.taglist-moving-animation-move {
    transition: transform .3s;
}

.logo-con {
    padding: 8px;
    text-align: center;

    img {
        height: 35px;
        width: auto;
    }
}

.logo-con .logo-title {
    color: #eee;
    font-size: 14px;
    font-weight: bold;
}

/* customize */
.list-wrapper {
    padding: 8px;

    .ivu-ml-8 {
        margin-left: 8px !important;
    }

    .ivu-form-item {
        display: block !important;
        margin-right: 0px;
        margin-bottom: 13px;
    }

    .list-search {


        .ivu-text-right {
            text-align: right;
        }

        .ivu-card-body {
            padding: 16px;
        }

        .ivu-input {
            height: 25px;
        }

        .ivu-row {
            padding: 1px 0;
        }

        .searchButton {
            text-align: center;

            .btn {
                margin-left: 0;
            }
        }
    }

    .button-wrapper {
        width: 100%;
    }

    .pageTable {
        width: 100%;
    }

    .modalform {
        width: 100%;
    }
}

.form-wrapper {
    position: relative;
    height: 100%;

    .form-button {
        text-align: center;
    }
}

.ivu-modal .ivu-select-dropdown {
    position: fixed !important;
}

.demo-spin-icon-load {
    animation: ani-demo-spin 1s linear infinite;
}

@keyframes ani-demo-spin {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.ivu-spin-fix {
    z-index: unset;
    /* background-color: hsla(0,0%,100%,.4); */
}

.ivu-spin-fix .ivu-spin-main {
    z-index: 800;
}

.ivu-icon-load-c:before {
    font-size: 32px;
}

.ivu-message {
    z-index: 2900;
}

.sk-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2960;
}

.half-col {
    overflow: hidden;
}

.half-col {
    width: 50%;
    float: left;
}

.search-box .ivu-input-wrapper,
.search-box .ivu-select,
.search-box .ivu-date-picker {
    float: left;
    margin-left: 10px;
    min-width: 120px;
    width: auto;
}

.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    .ivu-modal {
        top: 0;
    }
}

.ivu-divider-horizontal.ivu-divider-with-text-center,
.ivu-divider-horizontal.ivu-divider-with-text-left,
.ivu-divider-horizontal.ivu-divider-with-text-right {
    display: table;
    white-space: nowrap;
    text-align: center;
    background: 0 0;
    font-weight: 500;
    color: #17233d;
    font-size: 16px;
    margin: 16px 0;
}

.ivu-divider-horizontal.ivu-divider-with-text-center:after,
.ivu-divider-horizontal.ivu-divider-with-text-center:before,
.ivu-divider-horizontal.ivu-divider-with-text-left:after,
.ivu-divider-horizontal.ivu-divider-with-text-left:before,
.ivu-divider-horizontal.ivu-divider-with-text-right:after,
.ivu-divider-horizontal.ivu-divider-with-text-right:before {
    content: "";
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    border-top: 1px solid #e8eaec;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.ivu-divider-inner-text {
    // display: inline-block;
    padding: 0 24px;
}

// .ivu-form-item.fullWidth .ivu-form-item-content {
//     margin-left: 0 !important;
// }

.ivu-divider.ivu-divider-horizontal.ivu-divider-with-text-center {
    clear: both;
}